@import "~antd/dist/antd.less";

.content {
   background-image: url(./assets/Background.png);
   background-size: contain;
   background-repeat: no-repeat;
   height: 100vh;
}

.textGradient {
   color: #80ffea;
}
